#heroSection {
  width: 100%;
  background-color: #495e57;
  display: flex;
  justify-content: center;
  height: 560px;
}

.heroContainer {
  max-width: 844px;
  width: 100%;
  padding: 1.8rem 0;
}

.heroContainer .row {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
}

.heroContainer .col {
  flex: 1;
}

.heroContainer h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #f4ce14;
}

.heroContainer h2 {
  font-size: 2.4rem;
  font-weight: 400;
  color: #edefee;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}

.heroContainer p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #edefee;
  line-height: 1.4;
}

.heroContainer button {
  margin-top: 5.2rem;
}

.heroContainer .col:nth-of-type(2) {
  display: flex;
  justify-content: flex-end;
}

.heroContainer img {
  z-index: 999;
  overflow-y: visible;
}

@media only screen and (max-width: 900px) {
  .heroContainer .row {
    position: relative;
  }

  .heroContainer .col {
    max-width: 430px;
    position: relative;
    width: 100%;
    z-index: 1;
    height: 509px;
    border-radius: 16px;
  }

  .heroContainer img {
    width: 100%;
  }

  .heroContainer .col:first-of-type {
    padding: 20px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
  }

  .heroContainer .col:last-of-type {
    position: absolute;
    top: 0;
    display: block;
    left: 50%;
    z-index: 0;
    transform: translate(-50%);
  }

  .heroContainer button {
    margin-top: 2.2rem;
  }
}
@media only screen and (max-width: 480px) {
  .heroContainer .col:last-of-type {
    display: none;
  }

  .heroContainer h1 {
    margin-top: 20px;
    font-size: 3rem;
  }
  .heroContainer button{
    margin-top: 0.2rem;
  }
}
