#testimonials {
  background-color: #495e57;
  width: 100%;
  display: flex;
  justify-content: center;
}

.testimonialsContainer {
  max-width: 844px;
  width: 100%;
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 2.6rem;
}

.testimonialsContainer h1 {
  font-size: 2.4rem;
  font-weight: 400;
  color: #f4ce14;
  text-align: center;
}

.testimonialsContainer .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.testimonialsContainer .col {
  max-width: 190px;
}

.testimonialsContainer .card {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
  padding: 2.2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 0.8rem;
}

.testimonialsContainer h3 {
  color: #333333;
  font-weight: 500;
  font-size: 1rem;
}

.testimonialsContainer p {
  color: #495e57;
  font-weight: 400;
  font-size: 1rem;
}

.testimonialsContainer .details {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  column-gap: 1rem;
}

.testimonialsContainer img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: block;
}
