#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
}

#whiteSpace {
  width: 100%;
  height: 200px;
}

.primaryBtn {
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #333333;
  background-color: #F4CE14;
  border-radius: 1rem;
  padding: 12px 46px;
}

