body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
}

#whiteSpace {
  width: 100%;
  height: 200px;
}

.primaryBtn {
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #333333;
  background-color: #F4CE14;
  border-radius: 1rem;
  padding: 12px 46px;
  cursor: pointer;
}
.primaryBtn:hover{
  background: #fff2af;
}

